@font-face{
    font-family: 'Lato-Semibold';
    font-style:normal;
    src:local('Lato-Semibold'),
    url('../fonts/Lato-Semibold.woff') format('woff'),
    url('../fonts/Lato-Semibold.ttf') format('truetype'),
    url('../fonts/Lato-Semibold.eot') format('eot')
}
@font-face{
    font-family: 'Lato-ThinItalic';
    font-style:normal;
    src:local('Lato-ThinItalic'),
    url('../fonts/Lato-ThinItalic.woff') format('woff'),
    url('../fonts/Lato-ThinItalic.ttf') format('truetype'),
    url('../fonts/Lato-ThinItalic.eot') format('eot')
}
@font-face{
    font-family: 'Merriweather-Regular';
    font-style:normal;
    src:local('Merriweather-Regular'),
    url('../fonts/Merriweather-Regular.woff') format('woff'),
    url('../fonts/Merriweather-Regular.ttf') format('truetype'),
    url('../fonts/Merriweather-Regular.eot') format('eot')
}